#skill_list {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	-webkit-column-gap: 4em; /* Chrome, Safari, Opera */
	-moz-column-gap: 4em; /* Firefox */
	column-gap: 4em;
}
#logo {
	margin-top: 0rem;
	background: none;
}
#logo:before {
	background: none !important;
}

.logo {
	border: 2px solid #FFF !important;
}
